<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/LayoutCSS.css" rel="stylesheet" />
</head>
<body>

    <div class="d-flex">
        <div class="navbar" style="width:10vw">
            <nav style="height:100vh">
                <div class="navbar-brand">
                    Jot Tara Transport
                </div>
                <div class="d-block">
                    <ul>
                        <li>Dashboard</li>
                        <li>Order</li>
                        <li>Order Payment</li>
                        <li>Truck Details</li>
                        <li>Inventory</li>
                    </ul>
                </div>
            </nav>
        </div>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
